# Node.js
node_modules/

# Environment variables
.env
.env.*  # For .env.local, .env.production, etc.

# TypeScript
*.tsbuildinfo
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDE-specific files
.idea/

# Logs
*.log

# Jest coverage
coverage/

# Other system files
*.bak*

